body {

}

header {
    color: white;
    text-align: center;
}

h1 {
    margin: 10px auto;
}

.navbar {
    display: block;
}

.form-inline {
    flex-flow: row nowrap;
    width: inherit;
}

.list-group {
    width: 100%;
}

.card {
    width: 100%;
}

@media (min-width: 576px);

@media (min-width: 576px);
.form-inline .form-control {
    width: 100%;
}