body {

}

header {
    color: white;
}

h1 {
    margin: 10px auto;
}

.form-inline {
    flex-flow: row nowrap;
    width: inherit;
}

.list-group {
    width: 100%;
}

.card {
    width: 100%;
}

@media (min-width: 576px);
.form-inline .form-control {
    width: 100%;
}